@import "tailwindcss";

@theme {
  --color-background: #ffffff;
}

@layer base {
  html {
    scroll-behavior: smooth;
    scrollbar-color: #db6bd7;
    user-select: none;
  }

  button {
    cursor: pointer;
  }

  body {
    background-color: var(--color-background);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

/* Fondo decorativo del Hero */
.hero-gradient {
  position: absolute;
  top: 0;
  right: 0;
  width: 38rem;
  height: 38rem;

  background: linear-gradient(135deg,
      #7e097e 0%,
      #bc4ab9 55%,
      #db6bd7 100%);

  border-radius: 9999px;
  filter: blur(90px);
  opacity: 0.35;

  pointer-events: none;
  z-index: 0;
}